body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden; }

.hidden {
  display: none; }

a, p, li, ul, div, span {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0; }

li, body {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.top-pannel {
  text-align: center;
  background-color: #00706B;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #00bdb4; }
  .top-pannel ul {
    margin-left: 200px; }
  .top-pannel li {
    display: inline-block;
    padding: 6px; }
    .top-pannel li:last-child {
      float: right;
      margin-top: 7px; }
  .top-pannel a {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    .top-pannel a:hover {
      color: #00f0e5; }
  .top-pannel .input {
    display: inline-block; }
    .top-pannel .input input {
      padding: 8px 25px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      display: inline-block;
      -webkit-box-shadow: inset 0 0 15px 2px #008a83;
      box-shadow: inset 0 0 15px 2px #008a83;
      border: none;
      outline: none; }
    .top-pannel .input .fa {
      position: relative;
      right: 30px; }

.fon-img-1 {
  background-image: url("/img/web-fon-2.jpg");
  height: 500px;
  width: 100%;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  border-bottom: 3px solid #00bdb4; }
  .fon-img-1 h1 {
    color: white;
    display: block;
    margin: auto;
    padding-top: 150px;
    font-size: 40px;
    text-align: center; }

.fon-img-2 {
  background-image: url("/img/content-img-2.jpg");
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-size: cover;
  background-position: center; }
  .fon-img-2 .right-side-bar {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 20px;
    color: #000;
    text-align: center; }
    .fon-img-2 .right-side-bar li {
      -webkit-box-shadow: 1px 1px 2px #003d3a;
      box-shadow: 1px 1px 2px #003d3a;
      padding: 5px 30px;
      margin: 6px 0;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      .fon-img-2 .right-side-bar li:hover {
        -webkit-box-shadow: 1px 1px 15px #003d3a;
        box-shadow: 1px 1px 15px #003d3a; }
      .fon-img-2 .right-side-bar li a {
        color: #010001; }
  .fon-img-2 .content-menu {
    background-color: #FFF;
    padding: 20px;
    width: 70%;
    margin: 40px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid #00706B;
    font-size: 20px;
    font-family: "OpenSansRegular", sans-serif; }
    .fon-img-2 .content-menu h2 {
      text-align: center; }

.main-footer {
  background-color: #00706B;
  height: 200px;
  width: 100%; }
  .main-footer .right-footer {
    padding-top: 50px;
    text-align: right;
    padding-right: 30px; }
    .main-footer .right-footer a {
      color: #fff;
      font-size: 18px;
      letter-spacing: 1px; }

.top-pannel-2 {
  float: left;
  padding-left: 150px;
  padding-top: 30px; }
  .top-pannel-2 a {
    color: #fff;
    font-size: 20px; }
